@use "./main" ;
body{
    font-family: main.$iranSansFont;
}
.parent-list{
    &:hover {
        // background-color: main.$supporting-color-lightpurple;
        // border-left: 4px solid main.$supporting-color-purple;
    }
}
.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    font-size: 2rem;
    text-decoration: none;
    
}
.list-item-text{
    white-space: nowrap;
   text-align: right;

}
.list-item-icon{
    // background-color: aqua;
    padding-left: 20%;
}

.item-selected{
    color: main.$primary-color;
    // border-left: 4px solid main.$supporting-color-purple;
}
.item-not{
    color:red
}